@model ClassAnalytics.Models.StudentModels

@{
    ViewBag.Title = "Remove " + Model.fName + " " + Model.lName;
}

<h4 style="padding:15px;">Are you sure you want to remove @Model.fName @Model.lName and all of their data?</h4>
    <hr />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary-2" /> |
        @Html.ActionLink("Back to Student List", "Index", new { id = Model.class_Id })
    </div>
}