@model ClassAnalytics.Models.Class_Models.ClassModel

@{
    ViewBag.Title = "Remove " + Model.className + "?";
}

<div>
    <h3 style="padding-left:20px;">@ViewBag.Title</h3>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="padding-left:20px;">
            <input type="submit" value="Delete" class="btn btn-primary-2" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
