@model ClassAnalytics.Models.Misc_Models.StudentEmail


@{
    ViewBag.Title = "Message to Class";
}


<center><h2>@ViewBag.Title</h2></center>

@using (Html.BeginForm())
{
    <div class="container" style="padding-left:60px;">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                @Html.TextAreaFor(m => m.message, new { @class = "form-control", rows = 5, cols = 10, placeholder = "Write Message Here" })
            </div>
        </div>

        <div class="row" style="padding-top:10px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-3" style="width:240px;">
                @Html.DropDownList("class_id", null, "Select a Class", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-sm-1" style="width:auto;margin-left:-20px;padding-left:0px;">
                <input type="submit" value="Send" class="btn btn-primary-2" />
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
}
<style type="text/css">
.form-control{
    max-width: none;
}
</style>