@model ClassAnalytics.Models.Misc_Models.StudentEmail

@{
    ViewBag.Title = "Message To Student";
}

<center><h2 style="margin-left:-75px;">@ViewBag.Title</h2></center>

@using (Html.BeginForm("InstToStudent", "Communication"))
{
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                @Html.TextAreaFor(m => m.message, new { @class = "form-control", rows = 5, style="max-width:auto;" })
            </div>
            <div class="row" style="padding-top:10px;">
                <div class="col-md-7" style="margin-left:-10px;">
                    @Html.DropDownListFor(m => m.student_Id, Model.students, "Select Student: ", new { @class = "form-control" })
                </div>
                <div class="col-md-4" style="padding-left:0px;">
                    <input type="submit" value="Send" class="btn btn-primary-2" />
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
}