a.navbar_links {
    color: #2a6496;
    text-decoration: none;
}
a.navbar_links:hover,
a.navbar_links:focus {
    color: #00b386;
    text-decoration: underline;
}
a.navbar_links:focus {
    color:#ccc;
    outline: none;
}