a.navbar_links {
    color: #2a6496;
    text-decoration: none;
}
a.navbar_links:hover,
a.navbar_links:focus {
    color: #999;
    text-decoration: underline;
}
a.navbar_links:focus {
    color:#2a6496;
    outline: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}