body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:35px;
    padding-left: 15px;
    padding-right: 15px;
    background:rgba(66, 139, 202, 0.65);
    border-radius:10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.sidebar-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 6px;
  margin: 2px 0 0;
  margin-left:90px;
  margin-top:-35px;
  font-size: 14px;
  list-style: none;
  color: #428bca;
  background:#FFF;
  text-align:center;
  border:#428bca solid 1px;
  border-radius: 6px;
  background-clip: padding-box;
  transition:background 2s ease-in-out;
}

.sidebar-dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.sidebar-dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.sidebar-dropdown-menu > li > a:hover,
.sidebar-dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
}

.sidebar-dropdown-menu > .active > a,
.sidebar-dropdown-menu > .active > a:hover,
.sidebar-dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.sidebar-dropdown-menu > .disabled > a,
.sidebar-dropdown-menu > .disabled > a:hover,
.sidebar-dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.sidebar-dropdown-menu > .disabled > a:hover,
.sidebar-dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .sidebar-dropdown-menu {
  display: block;
}


.btn-primary-new {
  color: #DDD;
  background-color: transparent;
  border:1px solid #AAA;
  border-radius:5px;
  height:100%;
  transition:color .3s ease-in-out;
  margin-top:5px;
  padding: 8px;
}

.btn-primary-new:hover,
.btn-primary-new:focus,
.btn-primary-new:active,
.btn-primary-new.active,
.open .dropdown-toggle.btn-primary-new {
  color: #428bca;
  border:#428bca solid 1px;
  background-color: rgba(255,255,255,.5);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-align:center;
}
.btn-primary-2 {
  color: #555;
  background-color:  rgba(255,255,255,.5);
  border-radius:5px;
  -border-radius-bottomleft:5px;
  -border-radius-topleft:5px;
  height:34px;
  border:1px solid #AAA;
  border-left:transparent;
  z-index:-1;
  transition:color .3s ease-in-out;
}

.btn-primary-2:hover,
.btn-primary-2:focus,
.btn-primary-2:active,
.btn-primary-2.active,
.open .dropdown-toggle.btn-primary-2 {
  color: #428bca;
  background-color:  rgba(255,255,255,1);
  border-left:none;
  text-align:center;
}


