@model ClassAnalytics.Models.StudentEmail

@{
    ViewBag.Title = "Message To Student";
}

<center><h2 style="margin-left:-75px;">@ViewBag.Title</h2></center>

@using (Html.BeginForm("InstToStudent", "Communication"))
{
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                @Html.TextAreaFor(m => m.message, new { @class = "form-control", rows = 8 })
            </div>
            <div class="row">
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.student_Id, Model.students, "Select Student: ", new { @class = "form-control" })
                </div>
                <div class="col-md-4" style="margin-left:-20px;padding-left:0px;">
                    <input type="submit" value="Send" class="btn btn-primary-2" />
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
}