@{
    ViewBag.Title = "About us";
}
<h3>@ViewBag.Title.</h3>

<div class="col-md-6">
    <p>Welcome to Edulytics! Here at Edulytics, we are didcated to improving both the instructor and student experience in the classroom. When we work together, we can provide a better learning structure. That better structure will lead to a better future for us all.</p>
</div>
<div class="col-md-6">
    <img src="~/Content/mathteacher-student-whiteboard.jpg" />
</div>
