@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Edulytics</h1>
    <p class="lead">Welcome to Edulytics, the leader in analytical classroom data, improving classrooms everywhere.</p>
    <p><a href="http://localhost:5753/" class="btn btn-primary btn-lg">Edulytics &raquo;</a></p>
</div>

