@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Edulytics.</h1>
    <p class="lead">Welcome to Edulytics, the leader in analytical classroom data, improving classrooms everywhere.<br />
    Bringing teachers and students closer together to improve productivity and efficiency.</p>
</div>

