@model ClassAnalytics.Models.GradebookViewModel

@{
    ViewBag.Title = "AdminCharts";
    List<List<Object>> grades = new List<List<Object>>();
}
@{
    foreach (var item in Model.grades)
    {
        if (item.possiblePoints != 0)
        {
            string student = item.StudentModels.fName + " " + item.StudentModels.lName;
            grades.Add(new List<Object> { student, item.grade });
        }
    }
}


<center><h3>Grade Charts</h3></center>

@using (Html.BeginForm())
{
    <div class="row" style="margin:0 auto;padding-bottom:10px;">
        <div class="col-xs-4" style="width:200px;">
            @Html.DropDownListFor(m => m.class_id, Model.classList, "Select a Class", new { @class = "form-control" } )
        </div>
        <div class="col-xs-4" style="width:200px;margin-left:-20px;">
            @Html.DropDownListFor(m => m.task_id, Model.taskList, "Student Averages", new { @class = "form-control" } )
        </div>
        <div class="col-xs-2" style="margin-left:-10px;padding-left:0px;">
            <input type="submit" value="Search" class="btn btn-primary-2" />
        </div>
    </div>
}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var data = new google.visualization.DataTable();
            var grades_list = @Html.Raw(Json.Encode(grades));
            var grade_array = [];
            for(i=grades_list.length-1;i>=0;i--){
                grade_array[grade_array.length] = [grades_list[i][0],grades_list[i][1]];
            }
            data.addColumn('string', 'Student');
            data.addColumn('number', 'Grade');
            for(i = 0; i < grade_array.length; i++)
                data.addRow([grade_array[i][0], grade_array[i][1]]);
            var options = {
                title: 'Student Grades',
                titleTextStyle: {color:'#FFF', fontSize:18},
                backgroundColor: {fill: 'none'},
                colors:['#FFF'],
                hAxis: {
                    title: 'Student',
                    titleTextStyle:{color:'#FFF',fontSize:16},
                    textStyle:{color:'#FFF',fontSize:18},
                },
                vAxis: {
                    title: 'Grade', minValue: 0, maxValue: 100,                    
                    titleTextStyle:{color:'#FFF',fontSize:16},
                    textStyle:{color:'#FFF',fontSize:18},
                },
                legend: {
                    textStyle:{color:'#FFF'},
                },
            };

            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="chart_div" style="width: 100%; height: 500px;margin:0 auto;"></div>
</body>
