@model IEnumerable<ClassAnalytics.Models.Gradebook_Models.GradeBookModel>

@{
    string name = this.User.Identity.Name;
    ViewBag.Title = name + "'s Grade chart";
    List<List<Object>> tasks = new List<List<Object>>();
}
@{
    foreach (var item in Model)
    {
        decimal? grade = 0;
        grade = (item.pointsEarned / item.possiblePoints) * 100;
        string task = item.TaskModel.taskName;
        tasks.Add(new List<Object> { task, grade, item.grade });
    }
}
<h3>@ViewBag.Title</h3>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        label = 'Your grade.';
        function drawChart() {
            var data = new google.visualization.DataTable();
            var grades_list = @Html.Raw(Json.Encode(tasks));
            var grade_array = [];
            for(i=0;i<grades_list.length;i++){
                grade_array[grade_array.length] = [grades_list[i][0],grades_list[i][1],grades_list[i][2]];
            }
            data.addColumn('string', 'Assignment');
            data.addColumn('number', label);
            data.addColumn('number', 'Class Average');
            for(i = 0; i < grade_array.length; i++)
                data.addRow([grade_array[i][0], grade_array[i][1], grade_array[i][2]]);
            var options = {
                title: 'Your Grades',
                titleTextStyle: {color:'#FFF', fontSize:18},
                backgroundColor: {fill: 'none'},
                hAxis: {
                    title: 'Assignment',                
                    titleTextStyle:{color:'#FFF',fontSize:16},
                    textStyle:{color:'#FFF',fontSize:18},
                },
                vAxis: {
                    title: 'Grade',
                    titleTextStyle:{color:'#FFF',fontSize:16},
                    textStyle:{color:'#FFF',fontSize:18},
                    minValue: 0, maxValue: 100},
                legend:{
                    textStyle:{color:'#fff'},                
                },
                colors:['#FFF','#999'],
            };

            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="chart_div" style="width: 80%; height: 500px;margin: 0 auto;"></div>
</body>


