@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    <div class="btn-group" id="button_fade">
                        <button class="btn btn-default btn-sm" type="button" data-hover="dropdown"> Account </button>
                        <div class="dropdown-menu"><h6 style="color:#2a6496;margin:5px;"><b>@this.User.Identity.Name</b></h6>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { @class="navbar_links", title = "Manage" })<br><a class="navbar_links" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></div>
                    </div>
                </div>
            </div>
        </li>         
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
