@model ClassAnalytics.Models.UploadModel
@{
    ViewBag.Title = "Viewing " + Model.uploadName;
    string file = Model.filePath;
}

<center><h2>@ViewBag.Title</h2></center>
<h4 style="text-align:right;margin-top:-30px;">@Html.ActionLink("Return to Uploads","uploadList",new { id = Model.class_id })</h4>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="margin: 0 auto;">
        <embed src="~/Uploads/@Model.uploadType/@Model.uploadName" style="width:100%;height:500px;" />
    </div>
    <div class="col-md-1"></div>
</div>